{{outlet}}
<div class="row">
  {{#each recipe in model}}
    <div class="col s4">
      {{#md-card title=recipe.title}}
        {{#md-card-content}}
          {{recipe.description}}
        {{/md-card-content}}
        {{#md-card-action}}
          {{#link-to "recipe"}}Show{{/link-to}}
        {{/md-card-action}}
      {{/md-card}}
    </div>
  {{/each}}
  <div class="col s3">
    <div class="valign-wrapper">
      <div class="center-align">
        {{md-btn icon='mdi-content-add' action='openModal' buttonType='floating' class="btn-large"}}
      </div>
    </div>
  </div>
</div>


{{#if modalIsOpen}}
  {{#md-modal close="closeModal"}}
    <div class="modal-content">
      <h4>Add New Recipe Book</h4>
      {{input placeholder="Recipe book name goes here" value=bookTitle}}
      {{textarea placeholder="Recipe book description goes here" class="materialize-textarea" value=bookDescription}}
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat"
          {{action 'addBook'}}>
        Add Recipe
      </a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat"
          {{action 'closeModal'}}>
        Cancel
      </a>
    </div>
  {{/md-modal}}
{{/if}}
